h2 {
    color: pink;
    text-align: center;
}
.box {
	border: 2px dashed pink;
	height: 300px;
	padding-top: 20px;
}
body {
	background-color: black;
}
p {
	color: pink;
	text-align: center;
}

.blinking{
	animation:blinkingText 0.8s infinite;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 50px;
}
@keyframes blinkingText{
    0%{     color: gold;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}